body{
	margin:0;
	height:100vh;
	
	display:flex;
	justify-content:center;
	align-items:center;
	
	font-family:sans-serif;
	background:linear-gradient(
		180deg,
		#72d5e8 0%,
		#2a6db3 100%
	);
	color:white;
}

/*中央のカード部分*/
.container{
	width:80%;
	max-width:420px;
	text-align:center;
	background:#FFFFFF26;
	padding:40px;
	border-radius:24px;
	backdrop-filter:blur(10px);
	box-shadow:0 10px 30px #00000033;
}

/*タイトル*/
h1{
	font-size:48px;
	margin-bottom:10px;
}

/*サブタイトル*/
.subtitle{
	font-size:20px;
	margin-bottom:40px;
}