body{
	margin:0;
	height:100vh;
	
	display:flex;
	justify-content:center;
	align-items:center;
	
	font-family:sans-serif;
	background:linear-gradient(
		180deg,
		#72d5e8 0%,
		#2a6db3 100%
	);
	color:white;
}

/* ローディング画面 */
#loading{
    position:fixed;
    inset:0;

    background:
        radial-gradient(circle at 50% 10%, rgba(255,255,255,.55) 0%, transparent 35%),
        radial-gradient(circle at 20% 25%, rgba(255,255,255,.18) 0%, transparent 25%),
        radial-gradient(circle at 80% 30%, rgba(255,255,255,.15) 0%, transparent 30%),
        linear-gradient(
            180deg,
            #dff9ff 0%,
            #9fe9ff 20%,
            #5bc8ef 55%,
            #2b8fd6 80%,
            #1458a6 100%
        );

    overflow:hidden;

    z-index:9999;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:opacity .8s;
}

#loading.loaded{
    opacity:0;
    pointer-events:none;
}

/*泡設定*/
.bubble{
    position:absolute;
    bottom:-250px;
    opacity:.55;
    animation:bubbleup linear infinite;
}

.b1{left:5%;width:70px;animation: bubbleup 8s linear infinite;}
.b2{left:18%;width:130px;animation: bubbleup 11s linear infinite;}
.b3{left:33%;width:90px;animation: bubbleup 9s linear infinite;}
.b4{left:48%;width:190px;animation: bubbleup 14s linear infinite;}
.b5{left:60%;width:110px;animation: bubbleup 10s linear infinite;}
.b6{left:73%;width:160px;animation: bubbleup 13s linear infinite;}
.b7{left:84%;width:80px;animation: bubbleup 9s linear infinite;}
.b8{left:92%;width:220px;animation: bubbleup 15s linear infinite;}

@keyframes bubbleup{

    0%{
        transform:
            translateY(0)
            translateX(0)
            scale(.8);
        opacity:0;
    }

    20%{
        opacity:.6;
    }

    50%{
        transform:
            translateY(-45vh)
            translateX(40px)
            scale(1);
    }

    75%{
        transform:
            translateY(-80vh)
            translateX(-25px)
            scale(1.1);
    }

    100%{
        transform:
            translateY(-140vh)
            translateX(30px)
            scale(1.25);
        opacity:0;
    }

}

/* ローダー */

.loader{
    width:60px;
    height:60px;

    border:5px solid rgba(255,255,255,.3);
    border-top:5px solid white;

    border-radius:50%;

    box-shadow:0 0 20px rgba(255,255,255,.5);

    animation:spin 1.2s linear infinite;
}

@keyframes spin{
    to{
        transform:rotate(360deg);
    }
}

/* コンテンツ */

.fadein{
    opacity:0;
    transform:translateY(20px);
    transition:1s;
}

.fadein.show{
    opacity:1;
    transform:translateY(0);
}

/*中央のカード部分*/
.container{
	width:80%;
	max-width:420px;
	text-align:center;
	background:#FFFFFF26;
	padding:40px;
	border-radius:24px;
	backdrop-filter:blur(10px);
	box-shadow:0 10px 30px #00000033;
}

/*タイトル*/
h1{
	font-size:48px;
	margin-bottom:10px;
}

/*サブタイトル*/
.subtitle{
	font-size:20px;
	margin-bottom:40px;
}
